{% extends 'layout.html' %}

{% block user %} 

{{session['first_name']}}

{% endblock %}

{%block function%}

<a href="/logout">
    <button class='btn btn-outline-secondary'type="button">Logout</button>
</a>
<style>
    button {
        margin-left: 20px;
    }
</style>

{% endblock %}


{% block head %}

What's on your mind? Create a new post:

{% endblock %}

{% block content %}

    <form action="/create/post" method="POST">
        <div class="post_form">
            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
            <textarea name="content" class="form-control" id="floatingTextarea2" rows="5"></textarea>
            <button id="publish" class="btn btn-outline-primary" type="submit">Publish</button>
        </div>
    </form>
<style>
    #post_form {
        width: 80%;
    }
    #post_container {
        margin-top: 25px;
        padding-bottom: 25px;
        border-bottom: 2px solid rgb(140, 153, 168);
    }
</style>

{% endblock %}

{% block posts %}
    <h3>Community Posts</h3>
    {% for post in posts %}
        <div class="container w-100" id="community_container">
            <h5>{{ post.user_name.first_name}} - {{ post.created_at.strftime ('%a %d %b %-I:%M %p') }} </h5>
            <p>{{ post.content }}</p>
            <form action="/create/comment" method="POST">
                <div class="post_form">
                    <input type="hidden" name="id" value="{{ post.id }}">
                    <textarea name='comment' class="form-control" id="floatingTextarea2" rows="2"></textarea>
                    <button id="comment" class="btn btn-outline-primary" type="submit">Comment</button>
                </div>
            </form>
        </div>
    {% endfor %}

    <style>
        .two {
            margin: 0;
            width: 100%;
        }
        #community_container {
            margin-top: 20px;
            
        }
    </style>
{% endblock %}